---
//import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Welcome to My Astro Website | About</h1>
  <p>This is a simple homepage built with Astros. 🚀</p>
</BaseLayout>